.newContainer{
    .box{
        margin: 20px;
        padding:20px;
        gap: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        .bottom{
            .input{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 20px;
                .left, .right{
                    width: 40%;
                    .formInput{
                        width: 100%;
                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                } 
            }
            
        }
        .button{
            justify-content: space-between;
            display: flex;
        }
    }
}