.newContainer{
    width: 100%;
    .box{
        margin: 20px;
        padding:20px;
        gap: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        .bottom{
            .input{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 20px;
                .left, .right{
                    width: 40%;
                    .formInput{
                        width: 100%;
                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                } 
            }
            
        }
        .button{
            justify-content: space-between;
            display: flex;
        }
    }
}

.select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #3C1C78;
  background-color: #d7db84;
  border-radius: 10px;
  z-index: 10;

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
  }
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: '\2228';
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    z-index: -1;
  }
}
